# Environments
.env
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Caches
.mypy_cache/
.ruff_cache/

# IDEs / Editores
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Dynamic Data DB (Arquivos que são criados na hora do uso do Banco, menos a base de clientes seed)
api/data/solicitacoes_credito.csv